.centerText {
    font-family: Arial;
    font-size: 115px;
    font-weight: bold;
    letter-spacing: -7px;
    transform: rotate(-15deg);
    text-shadow: -1px 1px #806308, 
    -1px 1px #806308, 
    -1px 1px #806308, 
    -2px 2px #806308, 
    -1px 1px #806308, 
    -2px 2px #806308,
    -3px 3px #806308;
}