.rules-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: white;
  font-size: 1em;
  gap: 40px;
  transform: scale(0.9);
  width: 100%;
  height: 100%;
}

.rules-description {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid white;
  padding: 20px 10px;
  height: 100%;
  font-size: 1.4em;
}

.cards-description {
  flex: 0 0 60%;
  border: 1px solid white;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3%;
  
}

.card-container {
  display: flex;
  position: relative;
  border: 1px solid white;
  flex: 1 0 30%;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card-container.open {
  transform: rotateY(-180deg);
}

.card-block-back,
.card-block-front {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  
  gap: 10px;
  transition: 1s ease-in-out;
}

.card-block-front {
  cursor: pointer;
  backface-visibility: hidden;
  z-index: 2;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}



.card-block-front.open {
  opacity: 0;
}

.card-block-back {
  transform: rotateY(-180deg);
  z-index: 1;
  opacity: 0;
  padding: 10px 5px;
}

.card-block-back.open {
    z-index: 2;
    opacity: 1;
}

.card-title,
.rules-description-title {
/*font-size: 1em;*/
  color: #0e1632;
  font-weight: 700;
}

.card-title, 
.card-value {
  height: 15%;
    font-size: 1.4em;
    margin-bottom: 15px;
}
/*.card-value {
  font-size: 0.9em;
}*/

.card-description {
  height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
  scroll-behavior: auto;
}

.card-text {
  text-align: justify;
}

.rules-description-block {
  margin-bottom: 20px;
}

.rules-description-block:last-child {
  margin-bottom: 0px;
}

.rules-description-text {
  text-align: justify;
}
