.choice-container {
    z-index: 4;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, .6);
    border-radius: 10px;
    padding: 5px 10px;
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.choice-quantity,
.choice-difficulty {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choice-difficulty {
    width: 30%;
}

.choice-quantity .img {
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    width: 30%;
    cursor: pointer;
}

.choice-quantity .img:hover {
    transform: scale(.9);
}

.img.two {
    width: 21%;
}

.img.four {
    width: 40%;
}

.quantity-title,
.difficulty-title {
    font-size: 20px;
    text-transform: uppercase;
}