.error-404 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.error-btn-container .btn-main-page {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 15vw;
    height: 7vh;
    transform: translate(-50%, 0%);
}